ENTRY_BOT_TOKEN=
ADMIN_TG_IDS=
CONFIG_KEY=
ADMIN_LOGIN_USERNAME=
ADMIN_LOGIN_PASSWORD=
FFA_API_BASE_URL=https://fferwepba.ffyl88.com
PUBLIC_URL=https://t-gzhushou.vercel.app
DATABASE_URL=
BLOB_READ_WRITE_TOKEN=
CRON_SECRET=
